<?xml version="1.0" encoding="utf-8"?>
<module clientResourceRelativePath="1.0.2">

  <assemblies>
    <add assembly="AdvancedCMS.MediaDownload" />
  </assemblies>

  <clientModule initializer="advanced-cms-media-download.initializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
<!--
    <requiredResources>
      <add name="AdvancedReviews" />
    </requiredResources>
-->
  </clientModule>

  <dojo>
    <paths>
      <add name="advanced-cms-media-download" path="Scripts" />
    </paths>
 </dojo>
</module>