<?xml version="1.0" encoding="utf-8"?>
<module clientResourceRelativePath="" type="Advanced.CMS.MediaDownload.MediaDownloadShellModule, Advanced.CMS.MediaDownload">

  <assemblies>
    <add assembly="Advanced.CMS.MediaDownload" />
  </assemblies>

  <clientModule initializer="advanced-cms-media-download.initializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>

  <dojo>
    <paths>
      <add name="advanced-cms-media-download" path="ClientResources" />
    </paths>
 </dojo>
</module>